


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.ex2 {
    max-width: 500px;
    margin: auto;
}

td, th {
    text-align: center;
    word-wrap: break-word;
}

    td a {
        display: block !important;
        width: 150px !important;
    }

.myctable {
    table-layout: fixed;
}

.wrap ol {
    list-style-position: inside;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
    list-style-type: none;
    height: 100px;
    width: 100%;
}

.resultphoto {
    width: 180px;
    height: 150px;
}


body {
    margin: 20px;
}

.wrapper {
    border: 1px solid #444;
    border-radius: 5px;
    margin-bottom: 3px;
    width: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 200px auto 200px;
    background-color: #fff;
    color: #444;
}

.box {
    color: black;
    padding: 5px;
    font-size: 100%;
}

.photo {
    grid-column: 1;
    grid-row: 1/5;
}

.source {
    grid-column: 2;
    grid-row: 1;
}

.date {
    grid-column: 3;
    grid-row: 1;
}

.price {
    grid-column: 3;
    grid-row: 2;
}

.marka {
    grid-column: 2;
    grid-row: 2;
}

.desc {
    grid-column: 2;
    grid-row: 3;
}

.cont {
    grid-column: 2;
    grid-row: 4;
}

.phone {
    grid-column: 3;
    grid-row: 4;
}
