
@{
    ViewBag.Title = "Результаты Поиск вакансий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap4.js"></script>
<script src="~/Scripts/myJsFunction.js"></script>

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<h2>Результаты Поиск вакансий</h2>
<div class="row">
    <button id="deleteBtn" class="btn k-grid-delete navbar-btn" onclick="DeleteRows(2)"> Удалить результаты</button>
</div>
<div>


    <table id="tableDB" class="table table-striped table-bordered" style="width: 100%;"></table>
</div>

<script type="text/javascript">
    var selected = [];
    var assetListVM;
    $(function () {
        assetListVM = {
            dt: null,

            init: function () {
                dt = $('#tableDB').DataTable({
                    "dom": 'Bfrtip',
                    "scrollX": true,
                    "scrollY": "65vh",
                    "serverSide": true,
                    "processing": true,
                    "ajax": {
                        "url": "@Url.Action("GetRabota", "ResultTable")",
                        "type": "POST"
                    },

                    "columns": [
                        { "title": "ID", "data": "Id", "visible": false },
                        { "title": "Сайт", "data": "Site" },
                        { "title": "Задание", "data": "TaskName" },
                        { "title": "Пользователь", "data": "User" },
                        {
                            "title": "Дата объявления", "data": "DateCreate", render: function (data, type, row, meta) {
                                return ToJavaScriptDate(data);
                            }
                        },
                        { "title": "Вакансия", "data": "Vakansia", "render": function (data, type, row, meta) {
                            return '<a href="' + row.UrlString + '">' + data + '</a>';}},
                        { "title": "Зарплата От", "data": "ZpOt"},
                        { "title": "Зарплата До", "data": "ZpDo"},
                        { "title": "Описаине", "data": "Discription" },
                        { "title": "Адрес", "data": "Adress" },
                        { "title": "Контакты", "data": "Contacts" },
                        { "title": "Требования", "data": "Trebovanie"},
                        { "title": "Условия", "data": "Usloviya"},
                        { "title": "Тип занятости", "data": "TipZanyatosri"},
                        { "title": "Опыт работы", "data": "OpitRaboti"},
                        { "title": "Город", "data": "Gorod"},
                        { "title": "Оброзование", "data": "Obrozovanie"},
                        { "title": "Работодатель", "data": "Rabotodatel" },
                        { "title": "Код уникальности", "data": "MD5" },
                        { "title": "Скрипт", "data": "Script" }
                    ],
                    "order": [[0, "desc"]],
                    "lengthMenu": [25, 50, 100],
                    "select": true,
                    "rowCallback": function( row, data ) {
                        if ( $.inArray(data.Id, selected) !== -1 ) {
                            $(row).addClass('selected');
                        }
                    }
                });
            }
        }

// initialize the datatables
        assetListVM.init();
        $('#tableDB tbody').on('click', 'tr', function () {
            console.log($(this).text());
            var id = this.id;
            var index = $.inArray(id, selected);

            if ( index === -1 ) {
                selected.push( id );
            } else {
                selected.splice( index, 1 );
            }

            $(this).toggleClass('selected');
        } );
    });

</script> 